body{
  background: black;
}
input{
    outline: none;
}
#yel{
  background: orange;
  color: white;
  
}
#bla{
  background: #ffffff29;
  color: white;
}
#arch{
  background:grey;
  color: black;
}
.main-body{
  position: fixed;
  margin-top: 10px;
  bottom:0;
  left:0;
  right:0;
}
.display-input{
  border:none;
  height: 100px;
  text-align: right;
  width: 100%;
  font-size: 90px;
  font-weight: lighter;
  background: transparent;
  color: white;
  font-family: Helvetica;
}
.row input{
  border:none;
  border-radius: 50px;
  padding: 25px 30px 20px 30px;
  
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.row{
  display:inline-block;
}
